@page
@model ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Recuperação de Senha Solicitada";
    Layout = null;
}

<div class="register-container">
    <div class="register-box">
        <h2>Verifique Seu E-mail</h2>
        <p>Se um e-mail estiver associado à sua conta, você receberá uma mensagem com instruções para redefinir sua senha.</p>
        <a href="/Identity/Account/Login" class="btn btn-primary">Voltar ao Login</a>
    </div>
</div>
