@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Senha Redefinida com Sucesso";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/registerConfirmed.css" />
</head>

<div class="register-container">
    <div class="register-box">
        <h2>Senha Redefinida</h2>
        <p>Sua senha foi redefinida com sucesso. Agora você pode fazer login com sua nova senha.</p>
        <a href="/Identity/Account/Login" class="btn btn-primary">Voltar ao Login</a>
    </div>
</div>
