body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.confirm-email-change-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.confirm-email-change-box {
    background-color: #E8F0FE;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #003B46;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .btn-primary:hover {
        background-color: #002D3A;
    }
