body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-right: 20px;
}

    .login-left h2 {
        margin-top: 20px;
        font-size: 24px;
        color: #000;
    }

.login-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    background-color: #E8F0FE;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

    .form-group label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.form-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
}

.btn-primary {
    background-color: #003B46;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #AEDFF7;
    border: none;
    color: #003B46;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.user-icon {
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 10px;
    object-fit: cover;
}
.forgot-password-link {
    display: block;
    margin-top: 5px;
    color: #007bff;
    text-decoration: none;
}

    .forgot-password-link:hover {
        text-decoration: underline;
    }