.btn-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
}

    .btn-danger:hover {
        background-color: #c9302c;
        border-color: #ac2925;
    }
