html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    line-height: 25px !important;
    font-size: 12px;
    border-top: 1px #dee2e6 !important;
}