@page
@model IndexModel
@{
    ViewBag.Title = "Início";
    Layout = "~/Pages/Shared/_LayoutLogado.cshtml"; // Apontando para o layout com o sidebar
}

<div class="container">
    <h2>Início</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/user-icon.png" class="card-img-top" alt="Placeholder">
            </div>
        </div>
        <div class="col-md-8">
            <h3>Alunos</h3>
            <button class="btn btn-primary mb-2">Verificar Notas</button>
            <button class="btn btn-primary">Consulta</button>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h4>ELLP <i class="fas fa-arrow-right"></i></h4>
        </div>
        <div class="col-md-6">
            <div class="media">
                <img src="~/images/user-icon.png" class="mr-3" alt="Placeholder" style="width:60px;">
                <div class="media-body">
                    <h5 class="mt-0">Notas</h5>
                    Informações Gerais dos Alunos do Projeto ELLP
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="media">
                <img src="~/images/user-icon.png" class="mr-3" alt="Placeholder" style="width:60px;">
                <div class="media-body">
                    <h5 class="mt-0">Turmas e Disciplinas</h5>
                    Adicionar/Editar Turmas e Disciplinas
                </div>
            </div>
        </div>
    </div>
</div>