<div class="row">
    <div class="col-md-6">
        <h5>Desempenho por Matéria</h5>
        <canvas id="graficoDesempenhoMateria"></canvas>
    </div>
    <div class="col-md-6">
        <h5>Alunos VS Notas</h5>
        <canvas id="graficoAlunosNotas"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Aprovações</h5>
        <canvas id="graficoAprovacoes"></canvas>
    </div>
</div>