@model ELLPScore.Domain.DTO.DesempenhoDataModel

<div class="row">
    <div class="col-md-6">
        <div id="graficoDesempenhoMateria" style="height: 370px; width: 100%;"></div>
    </div>
    <div class="col-md-6">
        <div id="graficoAlunosNotas" style="height: 370px; width: 100%;"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="graficoAprovacoes" style="height: 370px; width: 100%;"></div>
    </div>
</div>

